.Book {
  display: inline-block;
  width: 256px;
}

.Book-thumbnail {
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}

.Book-thumbnail-and-selector-container {
  position: relative;
  width: 128px;
  margin-left: auto;
  margin-right: auto;
}