.SearchScreen-search-bar {
  display: flex; 
  position: fixed;
  z-index: 20;
  width: 100%;
  height: 90px;
  top: 0;
  border-bottom: 1px solid #d5d8df;
} 

.SearchScreen-back-button {
  display: block;
  width: 72px;
  background: white;
  background-image: url('./icons/arrow-back.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  font-size: 0;
}

.SearchScreen-query-input {
  width: 100%;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 1.2em;
  font-size: 1.2em;
  border: 0;
  outline: none;
}
