.Shelf {
  list-style-type: none;
}

.Shelf-flex-container {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.Shelf-name {
  text-align: left;
}

.Shelf-figure {
  display: inline-block;
  width: 256px;
}

.Shelf-thumbnail {
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}

.Shelf-container-thumbnail-and-selector {
  position: relative;
  width: 128px;
  margin-left: auto;
  margin-right: auto;
}