.ShelfSelector {
  position: absolute;
  top: 85%;
  left: 85%;
  width: 36px;
  height: 36px;
  border: thin solid  rgb(0,170,0);;
  border-radius: 50%;
  box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.25);
  background-color: rgb(0,170,0);
  background-image: url('./icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  font-size: 0;
  /* reset */
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.ShelfSelector:focus {
  outline-width: 0; 
  border: 4px solid rgb(50, 153, 252);
}
